/* ChatWindow.tsx */
.chatWindow{
    display:flex;
    flex-direction: column;
    color: white;
    background: var(--black);
    width: 83%;
    height: 92%;
    overflow: auto;
    position: fixed; 
    margin: 5px;
}

.roomName{
    margin: 0;
    background-color: var(--blue);
    text-align: center;
    color: #fff;
    font-weight: bold;
    flex-shrink: 0;
}

.chat{
    overflow-y: auto;
    flex: 1;
}

/* width */
.chat::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  .chat::-webkit-scrollbar-track {
    background: var(--grey);
  }
  
  /* Handle */
  .chat::-webkit-scrollbar-thumb {
    background: var(--black);
  }
  
  /* Handle on hover */
  .chat::-webkit-scrollbar-thumb:hover {
    background: #555;
  }

  .text{
    height:100%;
    width: 100%;
    padding-left:5px;
    padding-right: 5px;
}

/* ChatMessage.tsx */
.msg{
    width: 84%;
    position: absolute;
    padding-left: 5px;
    padding-right: 11px;
    bottom: 0;
    display: flex;
    align-items: flex-end;
}

.msg:last-of-type {
    margin: 0;
    position: absolute;

}

.msger-input {
    flex: 1;
    background: var(--black);
}

.send{
    background: var(--black);
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    padding-right: 5px;

}