.navbar-header {
    display: flex;
    justify-content: space-between;
    border-bottom: var(--border);
    background: var(--grey);
    color: var(--white);
}

.nav-btn {
    width: 16%;
    position: absolute;
    right: 0;
    display: flex;
    justify-content:space-evenly;
}