.inbox {
    background-color: var(--black);
    /* position: absolute; */
    /* right: 0; */
    height: 100%;
    width: 16%;
    /* margin: 5px; */
    overflow: hidden;
    /* flex:20; */
}

.inboxBtns{
    display: flex;
    justify-content: space-evenly;
}
