.tabs{
    background-color: var(--black);
    position: absolute;
    right: 0;
    height:94.5%;
    width:16%;
    margin: 5px;
    overflow: hidden;
}

.inbox{
    color: var(--white);
    background-color: var(--black);
    align-items: left;
    font-family: sans-serif;
    justify-content: center;
    cursor: pointer;
    transition-delay: 80ms;
    margin-right: 50px;
    margin-left: 40px;
    padding: 3px;

}

.rooms{
    margin-left: 55px;
    color: var(--white);
    padding: 3px;
    font-family: sans-serif;
    justify-content: center;
    cursor: pointer;
    transition-delay: 80ms;
}