.inbox {
    background-color: var(--black);
    position: absolute;
    right: 0;
    height: 94.5%;
    width: 16%;
    margin: 5px;
    overflow: hidden;
}

.inboxBtns{
    display: flex;
    justify-content: space-evenly;
}