.inbox {
    background-color: var(--black);
    height: 100%;
    width: 16%;
    overflow: auto;
}

.inboxBtns{
    display: flex;
    justify-content: space-evenly;
}

.inboxBtns li {
    background-color: var(--grey);
    color: var(--white);
    font-family: sans-serif;
    cursor: pointer;
    transition: .3s;
    width: 100%;
    padding: 10px;
    text-align: center;
}

 .inboxBtns li.active{
    background-color: var(--black);
    /* font-weight: bold; */
    text-decoration: underline;
} 
.inboxBtns li:hover {
    background-color: var(--blue);
}