@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --blue: #3763AA;
    --black: #1a1a1a;
    --grey: #303030;
    --white: #fff;
    --green: #85e23B;
    --yellow: #c39818;
    --red: #ee2829;
}

body {
    background: var(--grey);
    height: 100%;
    width: 100%;
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-image: var(--grey);
    font-family: Helvetica, sans-serif;
    overflow: hidden;
}

.boxContainer {
    padding: 5px;
}

.buttonComponent {
    color: var(--white);
    font-family: sans-serif;
    cursor: pointer;
    transition-delay: 80ms;
}

#email {
    background: var(--black);
    color: var(--green);
}

#password {
    background: var(--black);
    color: var(--blue);
}

#confirmPassword {
    background: var(--black);
    color: var(--blue);
}

#username {
    background: var(--black);
}

html {
    box-sizing: border-box;
}